/* -------------------- CARRITO -------------------- */
/* -------------------- Estilo General del Carrito ------------------- */
#cart-sidebar {
    width: 400px;
    height: 100%;
    background-color: #272729;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1050;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
}

/* -------------------- Estilo de Títulos y Textos ------------------- */
#cart-items {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 14px;
}

#cart-sidebar h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

#cart-sidebar p, #cart-sidebar span,
#cart-sidebar .d-flex span {
    font-size: 14px;
}

#cart-sidebar .d-flex strong {
    font-weight: 700;
}

/* -------------------- Botón de Continuar Compra  ------------------- */
#continuar-compra {
    font-size: 16px;
    background-color: #d81616;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
}

#continuar-compra:hover {
    background-color: #d81616;
}

/* -------------------- Contenedor de Productos  ------------------- */
.carrito-producto {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}

/* -------------------- Imagen del Producto ------------------- */
.carrito-img img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

/* -------------------- Detalles del Producto ------------------- */
.carrito-detalle {
    flex-grow: 1;
}

.carrito-precio {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.carrito-extra {
    margin: 5px 0;
    color: #aaa;
    font-size: 0.9rem;
}

/* -------------------- Botones de Cantidad ------------------- */
.carrito-detalle .btn {
    font-size: 0.8rem;
    padding: 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    color: #fff;
    border: none;
}

.carrito-detalle .btn:hover {
    background-color: #555;
}

/* -------------------- Botón de Editar ------------------- */
.carrito-detalle .btn-secondary {
    width: 70px;
    padding: 6px 10px;
    border-radius: 2px;
    background-color: #888;
    color: #fff;
    border: none;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
}

.carrito-detalle .btn-editar:hover {
    background-color: #777;
}

/* -------------------- Botón de Entrega ------------------- */
.btn-entrega {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.btn-entrega i {
    font-size: 1.5rem;
    margin-right: 5px;
}

/* -------------------- Modal de Entrega ------------------- */
#modal-entrega {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#modal-entrega .modal-content {
    font-family: 'Roboto', sans-serif;
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-entrega .modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* -------------------- Botones del Modal ------------------- */
.btn-delivery, .btn-retirar, .btn-ingresar-direccion, .btn-confirmar {
    font-family: 'Roboto', sans-serif;
}
